In [1]:
# HEY THERE MY FIRST PYTHON COMMENT 



""" THEHEHEHEHE

THERHEHEHEH

RHHRHRHRHRHR  """

' THEHEHEHEHE\n\nTHERHEHEHEH\n\nRHHRHRHRHRHR  '

In [7]:
numberOne =1
numberTwoshdddhbjhddjbjd =2

In [8]:
numberOne+numberTwoshdddhbjhddjbjd

3

In [9]:
y =1+8

In [10]:
y

9

In [ ]:
Email_address='john@ads.com'
password=12334455566

In [13]:
#string 
name = 'Wizkid'
#int 
age = 21

# Hello, my name is Wizkid and I am 21


print('Hello, my name is' + name + 'and I am 2' + str(age))

Hello, my name isWizkidand I am 221

In [14]:

s = 'helloworldfsdfhsdjfsdjfvsdjfvsdjfvdvjsdjfvnsdjkfvndscfnsdcfnsdfjkcfd'

len(s)

68

In [ ]:
databaseuser=user

In [ ]:
person={'Email_address': 'Martha', 'age': 30,'city':'Cape tOWN','password'}

In [ ]:
if Email_address  and password is True :
    'accessdasboard'
else:
    print('Your request failed. Please try again.')

In [16]:
#if/else

x=10
y=5
if x > y:
  print(f'{x} is greater than {y}')
else:
  print(f'{y} is greater than {x}')

10 is greater than 5

In [21]:
def add2numbers(no1,no2):
    answer =no1+no2
    print(answer)

IndentationError: expected an indented block (<ipython-input-21-a0d24521ada0>, line 2)

In [22]:
add2numbers(5,6)

11

In [ ]:
5+6
7

In [ ]:
math 
# sum of 2 nuber 
def getSum(num1, num2):
    total = num1 + num2
    return total


def square(num):
    """
    function to  square a number 
    """
    #return num**2
    print(num**2)

In [ ]:
from math import  getSum


getSum(1+2)